body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0;
  background-color: #f0f0f0;
  height: 100vh;
}

#game {
  background-color: white;
  padding: 30px 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#key {
  font-size: 48px;
  margin: 20px 0;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}
